{% include "header.html" %}
<h1>Change Password</h1>
<form action="/changepassword" method="POST">
    <div>
     Current Password
    <input type="password" name="currentpassword"></input>
    </div>
    <div>
     New Password
    <input type="password" name="newpassword"></input>
    </div>
    <div>
      Confirm New Password
    <input type="password" name="confirmedpassword"></input>
    </div>
    </div>
    <div>
    <input type="submit" value="Confirm"/>
    </div>
    {% if updatepassword %}  
    <div> Password Updated! </div>
    {% endif %}
    {% if error %} 
    Error. Please try again.
    {% endif %}
</form>
{% include "footer.html" %}